.light {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border-radius: 50%;
    background-color: gray;
    opacity: 0.5;
}

.light.active {
    opacity: 1;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}
